/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#navbar {
    display: flex;
    width: 100%;
}

/* NavBar: logo and image */
/* #logo{
    
} */

#logo img {
    margin: 10px 20px;
    height: 100px;
    width: 100px;
}

#navbar {
    position: sticky;
    top: 0px;
    align-items: center;
    font-family: 'DynaPuff', cursive;

}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.3;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    padding: 3px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 50px;
    height: 485px;
}

#home::before {
    content: "";
    background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center center/cover;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}

#home h1 {
    color: royalblue;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;

}

#home p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Baloo Bhai 2', cursive;

}

/* services section */
#services {
    margin: 10px;
    display: flex;
    background-color: beige;
}

#services .box {
    border: 2px solid greenyellow;
    padding: 10px;
    /* margin-top: 5px; */
    margin: 5px;
    border-radius: 10px;
    background-color: #f5dede;
}

#services .box img {
    height: 300px;
    margin: auto;
    display: block;

}

#services .box p {
    font-family: 'Baloo Bhai 2', cursive;
}

#services-container {
    background-color: beige;
}


/* client section */
#client-section {
    position: relative;
    height: 300px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('/img/client\ section.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.client-item {
    padding: 10px;
    margin: 0px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 100px;
}


/* contact section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('/img/contact.jfif') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

#contact-box .form-group {
    width: 50%;

}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}

#contact-box input,
#contact-box textarea {
    width: 120%;
    padding: 0.5rem;
    border-radius: 10px;
    /* font-size: 1.1rem; */
}

footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

/* Utility classes */
.h-primary {
    font-size: 3.5rem;
    padding: 10px;
    /* font-family: 'Baloo Bhai 2', cursive; */
}

.h-secondary {
    font-size: 2rem;
    padding: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn {
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: aqua;
    margin: 20px;
    cursor: pointer;
}

.btn:hover {
    color: red;
    background-color: black;
}

.center {
    text-align: center;
}